/* COLORS 
    PRIMARY - #ff5252
    PRIMARY_LIGHT - #ff867f
    PRIMARY_DARK - #c50e29
    TEXT - #FFFFFF
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

.overflow-hidden{
    overflow: hidden;
}

.bg-primary {
    background-color: #ff5252;
}

.text-primary {
    color: #ff5252;
}

.text-light {
    color: white;
}


div.header {
    padding: 10px;
    text-align: center;
}

.logo {
    font-family: 'Potta One', cursive;
    font-size: 48px;
}

.container {
    max-width: 760px;
    margin: auto;
    position: relative;
}

section.body {
    padding: 15px;
    padding-top: 85px;
    height: calc(100vh - 100px);
}

section.body .lyric-list {
    margin-top: 100px;
    padding-bottom: 20px;
}

.search-box {
    background-color: white;
    border-radius: 50px;
    padding: 20px;

    left: 15px;
    right: 15px;
    box-shadow: 1px 1px 12px rgba(128, 128, 128, 0.157);
}

.search-container {
    position: relative;
    top: calc(50% - 140px);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    text-align: center;
}

.animate-search-box {
    top: 0;
    position: fixed;
    margin: auto;
    padding: 15px 0;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: rgb(245, 245, 245);
}

.animate-search-box .search-box {
    max-width: 722px;
    margin: auto;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.card {
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 12px rgba(128, 128, 128, 0.157);
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card>.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.card>.details {
    flex-grow: 1;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
}

.card>.details div:last-child {
    color: gray;
    font-size: 14px;
}

.lyric-modal {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 1000;
    padding: 15px;
    overflow-y: auto;
}

.lyric-modal .modal {
    margin: 30px auto;
    padding: 0 20px 20px;
    border-radius: 5px;
    background-color: white;
    max-width: 760px;
}

.lyric-modal .modal .header {
    font-size: 24px;
    text-align: right;
}

.lyric-modal .modal .header:hover {
    cursor: pointer;
}

.lyric-modal .modal .body {
    text-align: center;
}

#modal-album-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#modal-song-name {
    font-size: 22px;
    font-weight: 800;
}
#modal-artist-name{
    font-size: 14px;
    color: gray;
}
#modal-lyrics p{
    font-size: 18px;
}

.d-none {
    display: none;
}