/* COLORS 
    PRIMARY - #ff5252
    PRIMARY_LIGHT - #ff867f
    PRIMARY_DARK - #c50e29
    TEXT - #FFFFFF
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

.bg-primary {
    background-color: #ff5252;
}

.text-primary {
    color: #ff5252;
}

.text-light {
    color: white;
}


section.header {
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 100;
    background-color: rgb(245, 245, 245);
}

.logo {
    font-family: 'Potta One', cursive;
    font-size: 48px;
}

.container {
    max-width: 760px;
    margin: auto;
    position: relative;
}

section.body {
    padding: 15px;
    padding-top: 85px;
    height: calc(100vh - 100px);
}

section.body .lyric-list {
    margin: 100px 0 20px 0;
}

.search-box {
    background-color: white;
    border-radius: 50px;
    padding: 20px;

    left: 15px;
    right: 15px;
    box-shadow: 1px 1px 12px rgba(128, 128, 128, 0.157);
}

.search-container {
    position: relative;
    top: calc(50% - 50px);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    text-align: center;
}

.animate-search-box {
    top: 85px;
    position: fixed;
    margin: auto;
    padding: 15px 0;
    left: 0;
    right: 0;
    background-color: rgb(245, 245, 245);
}
.animate-search-box .search-box{
    max-width: 722px;
    margin: auto;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.card {
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 12px rgba(128, 128, 128, 0.157);
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.card>.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.card>.details {
    flex-grow: 1;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
}
.card>.details div:last-child{
    color: gray;
    font-size: 14px;
}